/*mat-card{
  width: 80%;
  margin: auto;
}*/

mat-form-field,
textarea {
  width: 100%;
}

.ml-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

input[type='file'] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

p .ng-invalid.ng-touched {
  color: red;
}
